<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
      <a class="navbar-brand" href="{% url 'leaderboard' %}">Leaderboard</a>
      <a class="navbar-brand" href="{% url 'play' %}">Turing Test</a>
    </nav>
    <br><br><br>
    {% for school in standings %}
      <h1>{{ school.display_name }}       {{ school.level }}</h1>
      <h2></h2>
      <br><br>
    {% endfor %}
  </body>
</html>