{% extends "base.html" %}
{% block content %}
  <div class="box">
    <h2 class='question'>TuringTest@TuringF $lvl{{ number }}</h2>
    <h2 class='question'> {{ question }} </h2>
    <form method="POST" action="{% url 'play' %}">
      {% csrf_token %}
      <input type="text" name="answer" id="answer" maxlength="20" autocomplete="off" placeholder=">" onkeypress="return AvoidSpace(event)">
      <br>
      <button class="btn btn-lg btn-primary" id="go">python3 answer.py</button>
    </form>
  </div>
{% endblock content %}
