<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar fixed-top navbar-light bg-light">
  <a class="navbar-brand" href="{% url 'dashboard' %}">Dashboard</a>
  <a class="navbar-brand" href="{% url 'leaderboard' %}">Leaderboard</a>
  <a class="navbar-brand" href="{% url 'level' %}">Turing Test</a>
</nav>
<br><br><br>
<div class="container">


<form method="POST" action="{% url 'level' %}">
{% csrf_token %}
<!-- <div class="form-group">
<label for="formGroupExampleInput2">Current level</label>
<input type="text" class="form-control" id="formGroupExampleInput2" name="answer" placeholder="Another input">
</div> -->
<div class="form-label-group">
  <input id="usernames" type="text" name="answer" class="form-control" placeholder="Enter Answer" required > <br>
</div>
<button type="submit" name="button">Submit</button>
</form>

</div>
  </body>
</html>
